# Bandit is a security linter designed to find common security issues in Python code.
# This workflow installs Bandit directly from PyPI and runs it on the codebase.
# The results of the scan will be found under the Security tab of your repository.

# https://pypi.org/project/bandit/ is Apache v2.0 licensed, by PyCQA

name: Bandit
on:
  push:
    branches: [ "main" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "main" ]
  schedule:
    - cron: '33 21 * * 6'

jobs:
  bandit:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      
      - name: Install Bandit
        run: pip install bandit[sarif]
      
      - name: Run Bandit Scan
        run: |
          bandit -r . -f sarif -o bandit-results.sarif || true
      
      - name: Upload Bandit Results to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: bandit-results.sarif

